* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  
  body {
    overflow-x: hidden;
    position: relative;
    background-color: #E6E6E3 !important;
    font-family:'Poppins';
  
  }
  
  .user-container{
      display:flex;
      align-items:flex-start;
      justify-content:center;
      flex-wrap:wrap;
      /*flex-direction:column;*/
      margin:150px;
  }
  .user-info{
      background-color:#FFFFFF;
      max-width:350px;
      margin:10px;
      padding:20px;
      border-radius:10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  }
  .user-info h3{
      font-size:28px;
  }
  
  .posts{
      background-color:#FFFFFF;
      margin-top:10px;
      padding:10px;
      border-radius:10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width:1000px;
  }
  @media screen and (max-width: 1000px){
    .posts{
      width:100% !important;
      min-width:350px;
  
    }
  
  }
  .posts h4{
      font-size:24px;
  }
  .posts h3{
      font-size:20px;
  }
  .posts p{
      margin:5px;
      font-size:18px;
  }
  
  .profile-picture{
      border:5px solid black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  }
  
  
  /* CSS */
  .button {
      background-color:rgba(51, 51, 51, 0.12);
      border-radius: 8px;
      border-width: 0;
      color: black;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      margin: 5px;
      padding: 10px 12px;
      text-align: center;
      transition: all 200ms;
      vertical-align: baseline;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
  }
  .home-button {
      background-color:#405CF5;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      border-width: 0;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      margin: 5px;
      padding: 10px 12px;
      text-align: center;
      transition: all 200ms;
      vertical-align: baseline;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
  }
  .logout-button {
      background-color:red;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      border-width: 0;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      margin: 5px;
      padding: 10px 12px;
      text-align: center;
      transition: all 200ms;
      vertical-align: baseline;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
  }
  